<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>



            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form" action="" id="searchformId">
                    <div class="layui-form-item">

                        <div class="layui-inline">
                            <div class="layui-input-inline" style="width: 200px">
                                <input type="text" name="username" placeholder="登录名" value="" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline" style="width: 200px">
                                <input type="text" name="client_ip" placeholder="登录IP" value="" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-input-inline" style="width: 200px">
                            <select name="login_flag" id="login_flag_Id" autocomplete="off" lay-search="">
                                <option value="">登录状态</option>
                                {% for login_flag in flag_list %}
                                    <option value="{{ login_flag }}">{{ login_flag }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline" style="width: 200px">
                                <input type="text" name="login_time" placeholder="登录时间" value="" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline" style="margin-left: 1px">
                            <button id="usersearch" class="layui-btn layui-btn-primary" lay-submit lay-filter="search_Filter">
                                <i class="layui-icon layui-icon-search"
                                   style="font-size: 18px; color: #555;"></i>
                                查询
                            </button>
{#                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>#}

                        </div>

                    </div>
                </form>

            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
{#                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>#}
{#                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button>#}
                <button class="layui-btn layui-btn-primary layui-btn-sm data-add-btn" data-refresh=""> 页面刷新 </button>

            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

{#        <script type="text/html" id="currentTableBar">#}
{#            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>#}
{#            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>#}
{#            <button class="layui-btn layui-btn-primary layui-btn-sm data-add-btn" data-refresh=""> 页面刷新 </button>#}
        {#</script>#}

    </div>
</div>

<script>
    layui.use(['form', 'table','miniPage','element'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            miniPage = layui.miniPage;

        table.render({
            elem: '#currentTableId',
            url: '/system/loginhistorylist/',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [[
                {type: "checkbox", width: 50},
                {field: 'login_username', minwidth: 200, title: '登录名', sort: true, totalRowText: 'text', align:'left'},
                {field: 'login_client_ip', minwidth: 200, title: '客户端IP', sort: true, totalRowText: 'text', align:'left'},
                {field: 'login_flag', minwidth: 200, title: '登录标志', sort: true, totalRowText: 'text', align:'left'},
                {field: 'login_time', minwidth: 200, title: '登录时间', sort: true, totalRowText: 'text', align:'left'},
            ]],
            limits: [50, 100, 200, 500, 1000, 5000],
            limit: 15,
            page: true,
            skin: 'line',
            {#size: 'sm',#}
            {#size: 'lg'#}
        });

        // 监听搜索操作
        form.on('submit(search_Filter)', function (data) {
            layer.load(2, {time: 100}); //又换了种风格，并且设定最长等待100毫秒

            //执行搜索重载
            table.reload('currentTableId', {
                url: '/system/loginhistorysearch/'
                ,method: 'post'
                , page: {
                    curr: 1
                }
                , where: {
                    searchParams: JSON.stringify(data.field),
                }
            }, 'data');
            return false;
        });

        /**
         * toolbar事件监听
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {   // 监听添加操作
                var content = miniPage.getHrefContent('page/table/add.html');
                var openWH = miniPage.getOpenWidthHeight();

                var index = layer.open({
                    title: '添加用户',
                    type: 1,
                    shade: 0.2,
                    maxmin:false,
                    shadeClose: true,
                    area: [openWH[0] + 'px', openWH[1] + 'px'],
                    offset: [openWH[2] + 'px', openWH[3] + 'px'],
                    content: content,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                layer.alert(JSON.stringify(data));
            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {

                var content = miniPage.getHrefContent('page/table/add.html');
                var openWH = miniPage.getOpenWidthHeight();

                var index = layer.open({
                    title: '编辑用户',
                    type: 1,
                    shade: 0.2,
                    maxmin:false,
                    shadeClose: true,
                    area: [openWH[0] + 'px', openWH[1] + 'px'],
                    offset: [openWH[2] + 'px', openWH[3] + 'px'],
                    content: content,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            }
        });

    });
</script>