<div class="layuimini-container layuimini-page-anim" id="main_id">
    <div class="layuimini-main">
        <div class="layui-card-header">
            需求管理
        </div>

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">

                <form class="layui-form" action="" id="searchformId">
                <div class="layui-form-item">

                    <div class="layui-inline">
                        <div class="layui-input-inline" style="width: 200px">
                            <input type="text" name="bug_name" placeholder="需求名称" value="" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline" style="width: 200px">
                            <input type="text" name="bug_digest" placeholder="需求摘要" value="" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline" style="width: 200px">
                            <input type="text" name="bug_detail" placeholder="需求详情" value="" class="layui-input">
                        </div>
                    </div>


                    <div class="layui-input-inline" style="width: 200px">
                        <select name="buguser" id="buguserId" autocomplete="off" lay-search="">
                            <option value="">经办人员</option>
                            {% for user in user_list %}
                                <option value="{{ user.username }}">{{ user.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline" style="width: 200px">
                            <input type="text" name="bug_time" placeholder="操作时间" value="" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline" style="margin-left: 1px">
                        <button id="itemsearch" class="layui-btn layui-btn-primary" lay-submit lay-filter="search_Filter">
                            <i class="layui-icon layui-icon-search"
                               style="font-size: 18px; color: #555;"></i>
                            查询
                        </button>
                    </div>

                </div>
            </form>
            </div>
        </fieldset>


        <table id="currentTableId" lay-filter="currentTableFilter"></table>


        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <a href="javascript:" layuimini-content-href="ruleroam/bugcreate/" data-title="修改密码" data-icon="fa fa-gears" class="layui-btn layui-btn-primary layui-btn-sm">添加需求</a>
                <button class="layui-btn layui-btn-sm layui-btn-primary data-delete-btn" lay-event="item_batch_delete"> 批量删除 </button>
                <button class="layui-btn layui-btn-primary layui-btn-sm data-add-btn" data-refresh=""> 页面刷新 </button>

            </div>
        </script>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-checked layui-btn-xs data-count-edit" lay-event="show_item">查看</a>
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit_item">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete_item">删除</a>
        </script>

    </div>
</div>


<script>
    layui.use(['form', 'table','miniPage','element'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            miniPage = layui.miniPage;


        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
        form.render();

        // 当前弹出层，防止ID被覆盖
        var parentIndex = layer.index;
        var add_edit_type = "init_data"


        table.render({
            elem: '#currentTableId',
            url: '/ruleroam/buglist/',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [[
                {type: "checkbox", width: 50},
                {field: 'bug_name', width: 150, title: '需求名', sort: true, totalRowText: 'text', align:'left'},
                {field: 'bug_digest', width: 150, title: 'bug_digest', sort: true, totalRowText: 'text', align:'left'},
                {field: 'bug_detail', minwidth: 150, title: 'bug_detail', sort: true, totalRowText: 'text', align:'left'},
                {field: 'bug_create_user', width: 120, title: '创建人', sort: true, totalRowText: 'text', align:'left'},
                {field: 'bug_update_user', width: 120, title: '修改人', sort: true, totalRowText: 'text', align:'left'},
                {field: 'bug_create_time', width: 180, title: '创建时间', sort: true, totalRowText: 'text', align:'left'},
                {field: 'bug_update_time', width: 180, title: '更新时间', sort: true, totalRowText: 'text', align:'left'},
                {title: '操作', width: 180, toolbar: '#currentTableBar', align: "center"}
            ]],
            limits: [50, 100, 500, 1000],
            limit: 15,
            page: true,
            skin: 'line',
            {#size: 'sm',#}
            {#size: 'lg'#}
        });


        // 监听搜索操作
        form.on('submit(search_Filter)', function (data) {
            layer.load(2, {time: 100}); //又换了种风格，并且设定最长等待100毫秒

            //执行搜索重载
            table.reload('currentTableId', {
                url: '/ruleroam/bugsearch/'
                ,method: 'post'
                , page: {
                    curr: 1
                }
                , where: {
                    searchParams: JSON.stringify(data.field),
                }
            }, 'data');
            return false;
        });

        /**
         * toolbar事件监听
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'item_batch_delete') {
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                if(JSON.stringify(data).toString() === "[]"){
                    layer.alert("未选中任何数据");
                }
                else{

                    var data_str="";
                    data.forEach(function(obj){
                        data_str = data_str + "</br>- "+ obj.bug_name
                    });

                    layer.confirm('确认删除下列需求?' + data_str
                        ,{
                            icon:3
                            , title:'提示'
                        }
                        , function (index) {
                            $.ajax({
                                url: '/ruleroam/bugbatchdelete/',
                                type: 'post',
                                dataType: 'json',
                                data: {
                                    data: JSON.stringify(data).toString()
                                },
                                success:function(data){
                                    if(data.status === "success"){
                                        layer.alert(data.msg,{ icon:1,title:'提示'},function(index){
                                            layer.closeAll();
                                            table.reload('currentTableId');

                                        });
                                    }else{
                                        layer.alert(data.msg,{ icon:2,title:'提示'},function(index){ layer.close(index);});
                                    }
                                },

                            });
                            layer.close(index);
                        });
                }
            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        //行事件
        table.on('tool(currentTableFilter)', function (obj) {
            if (obj.event === 'edit_item') {
                window.location.href="/#/ruleroam/bugcreate/?bug_name=" + obj.data.bug_name

                return false;
            }
            else if (obj.event === "show_item"){
                window.location.href="/#/ruleroam/bugdetail/?bug_name=" + obj.data.bug_name

                return false;

            }
            else if (obj.event === 'delete_item') {
                layer.confirm('确认删除下列需求名?</br>- ' + obj.data.bug_name
                    ,{
                        icon:3
                        , title:'提示'
                    }, function (index) {

                    $.ajax({
                        url: '/ruleroam/bugdelete/',
                        type: 'post',
                        dataType: 'json', //预期返回类型
                        data: obj.data,
                        success:function(data){
                            if(data.status === "success"){
                                layer.alert(data.msg,{ icon:1,title:'提示'},function(index){
                                    obj.del();
                                    layer.closeAll();
                                    table.reload('currentTableId');
                                });
                            }else{
                                layer.alert(data.msg,{ icon:2,title:'提示'},function(index){ layer.close(index);});
                            }
                        },

                    });


                    layer.close(index);
                });
            }
        });



        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.ajax({
                url: '/ruleroam/vulnadd/',
                type: 'post',
                dataType: 'json', //预期返回类型
                data: {"request_type": add_edit_type, "request_data": JSON.stringify(data.field).toString()},
                success:function(data){
                    if(data.status === "success"){
                        layer.alert(data.msg,{ icon:1,title:'提示'},function(index){
                            layer.closeAll();
                            table.reload('currentTableId');
                        });
                    }else{
                        layer.alert(data.msg,{ icon:2,title:'提示'},function(index){ layer.close(index);});
                    }
                },
            });
            return false;
        });


        {#layer.closeAll();#}
        {#window.parent.location.reload(); //刷新父页面#}
        {#table.reload('currentTableId');#}


        {#//表单初始赋值#}
        {#form.val('myFormFilter', {#}
        {#    "departmentName": "运营与监控中心" // "name": "value"#}
        {#    , "systemName": "测试系统"#}
        {#    , "domainName": "www.test.com"#}
        {#    , "SLBIP": "127.0.0.1"#}
        {#    , "SLBPort": "8080"#}
        {#    , "systemType": "APP应用系统"#}
        {#    , "systemStatus": true#}
        {#    , "accessURL": "url" //复选框选中状态#}
        {#    , "developmentCompany": "科东"#}
        {#    , "extranetAccess": true#}
        {#    , "businessPeople": "businessPeople"#}
        {#    , "businessPhone": "businessPhone"#}
        {#    , "DevelopPeople": "DevelopPeople"#}
        {#    , "DevelopPhone": "DevelopPhone"#}
        {#    , "systemDescribe": "systemDescribe"#}
        {#    , "systemUsername": "systemUsername"#}
        {#    , "systemPassword": "systemPassword"})#}
    });
</script>