<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">
        <div class="layui-card-header">
            规则管理
        </div>

        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">

                <form class="layui-form" action="" id="searchformId">
                <div class="layui-form-item">

                    <div class="layui-inline">
                        <div class="layui-input-inline" style="width: 200px">
                            <input type="text" name="rule_name" placeholder="规则名称" value="" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline" style="width: 200px">
                            <input type="text" name="rule_description" placeholder="规则描述" value="" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline" style="width: 200px">
                            <input type="text" name="rule_id" placeholder="规则编号" value="" class="layui-input">
                        </div>
                    </div>


                    <div class="layui-input-inline" style="width: 200px">
                        <select name="rule_user" id="rule_userId" autocomplete="off" lay-search="">
                            <option value="">经办人员</option>
                            {% for user in user_list %}
                                <option value="{{ user.username }}">{{ user.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline" style="width: 200px">
                            <input type="text" name="rule_time" placeholder="操作时间" value="" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline" style="margin-left: 1px">
                        <button id="itemsearch" class="layui-btn layui-btn-primary" lay-submit lay-filter="search_Filter">
                            <i class="layui-icon layui-icon-search"
                               style="font-size: 18px; color: #555;"></i>
                            查询
                        </button>
                    </div>

                </div>
            </form>
            </div>
        </fieldset>


        <table id="currentTableId" lay-filter="currentTableFilter"></table>


        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-primary layui-btn-sm data-add-btn" lay-event="add_item"> 添加规则 </button>
                <button class="layui-btn layui-btn-sm layui-btn-primary data-delete-btn" lay-event="item_batch_delete"> 批量删除 </button>
                <button class="layui-btn layui-btn-primary layui-btn-sm data-add-btn" data-refresh=""> 页面刷新 </button>

            </div>
        </script>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit_item">编辑</a>
{#            <a class="layui-btn layui-btn-warm layui-btn-xs data-count-edit" lay-event="resetpass">密码重置</a>#}
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete_item">删除</a>
        </script>

    </div>
</div>


{#添加按钮弹窗#}
<div class="layuimini-main class-id-reset" id="add_item_OpenFormId" style="display: none">
    <form class="layui-form layuimini-form" id="myFormId" method="get" lay-filter="myFormFilter">

        <div class="layui-form-item">
            <label class="layui-form-label required">规则名</label>
            <div class="layui-input-block">
                <input type="text" name="rule_name" id="rule_name_Id" lay-verify="required" lay-reqtext="规则名不能为空" placeholder="请输入规则名" value="" class="layui-input">
            </div>
        </div>



        <div class="layui-form-item">
            <label class="layui-form-label required">规则版本</label>
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="text" name="rule_version" id="rule_version_Id" lay-verify="required" lay-reqtext="规则名不能为空" placeholder="rule_100001" value="{{ rule_version }}" class="layui-input">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">CVE</label>
                <div class="layui-input-inline">
                    <input type="text" name="rule_CVE" id="rule_CVE_Id" placeholder="请输入CVE" value="" class="layui-input">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">CNVD</label>
                <div class="layui-input-inline">
                    <input type="text" name="rule_CNVD" id="rule_CNVD_Id" placeholder="请输入CNVD" value="" class="layui-input">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">CNNVD</label>
                <div class="layui-input-inline">
                    <input type="text" name="rule_CNNVD" id="rule_CNNVD_Id" placeholder="请输入CNNVD" value="" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">规则描述</label>
            <div class="layui-input-block">
                <textarea name="rule_description" id="rule_description_Id" class="layui-textarea" placeholder="请输入描述信息"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-sm" id="saveBtnId" lay-submit lay-filter="saveBtn">&nbsp;&nbsp;&nbsp;&nbsp;保存&nbsp;&nbsp;&nbsp;&nbsp;</button>
                <button type="reset" class="layui-btn layui-btn-checked layui-btn-sm" style="margin-left: 20px; margin-right: 20px"> &nbsp;&nbsp;&nbsp;&nbsp;重置&nbsp;&nbsp;&nbsp;&nbsp; </button>
                <a class="layui-btn  layui-btn-warm layui-btn-sm" onclick="layui.layer.closeAll()"> &nbsp;&nbsp;&nbsp;&nbsp;取消&nbsp;&nbsp;&nbsp;&nbsp; </a>

            </div>
        </div>
    </form>
</div>


<script>
    layui.use(['form', 'table','miniPage','element'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            miniPage = layui.miniPage;


        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
        form.render();

        // 当前弹出层，防止ID被覆盖
        var parentIndex = layer.index;
        var add_edit_type = "init_data"


        table.render({
            elem: '#currentTableId',
            url: '/ruleroam/vulnlist/',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [[
                {type: "checkbox", width: 50},
                {#{field: 'rule_id', width: 120, title: 'rule_id', sort: true, totalRowText: 'text', align:'left'},#}
                {field: 'rule_name', minwidth: 150, title: '规则名', sort: true, totalRowText: 'text', align:'left'},
                {field: 'rule_CVE', width: 120, title: 'CVE', sort: true, totalRowText: 'text', align:'left'},
                {field: 'rule_CNVD', width: 120, title: 'CNVD', sort: true, totalRowText: 'text', align:'left'},
                {field: 'rule_CNNVD', width: 120, title: 'CNNVD', sort: true, totalRowText: 'text', align:'left'},
                {field: 'rule_create_user', width: 120, title: '创建人', sort: true, totalRowText: 'text', align:'left'},
                {field: 'rule_update_user', width: 120, title: '修改人', sort: true, totalRowText: 'text', align:'left'},
                {field: 'rule_create_time', width: 180, title: '创建时间', sort: true, totalRowText: 'text', align:'left'},
                {field: 'rule_update_time', width: 180, title: '更新时间', sort: true, totalRowText: 'text', align:'left'},
                {title: '操作', width: 200, toolbar: '#currentTableBar', align: "center"}
            ]],
            limits: [50, 100, 500, 1000],
            limit: 15,
            page: true,
            skin: 'line',
            {#size: 'sm',#}
            {#size: 'lg'#}
        });


        // 监听搜索操作
        form.on('submit(search_Filter)', function (data) {
            layer.load(2, {time: 100}); //又换了种风格，并且设定最长等待100毫秒

            //执行搜索重载
            table.reload('currentTableId', {
                url: '/ruleroam/vulnsearch/'
                ,method: 'post'
                , page: {
                    curr: 1
                }
                , where: {
                    searchParams: JSON.stringify(data.field),
                }
            }, 'data');
            return false;
        });

        /**
         * toolbar事件监听
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'item_batch_delete') {
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                if(JSON.stringify(data).toString() === "[]"){
                    layer.alert("未选中任何数据");
                }
                else{

                    let name_list=[];
                    data.forEach(function(e){
                        name_list.push(e.name);
                    });

                    layer.confirm('规则名称: ' + name_list
                        ,{
                            icon:3
                            , title:'确认删除?'
                        }
                        , function (index) {
                            $.ajax({
                                url: '/ruleroam/vulnbatchdelete/',
                                type: 'post',
                                dataType: 'json',
                                data: {
                                    data: JSON.stringify(data).toString()
                                },
                                success:function(data){
                                    if(data.status === "success"){
                                        layer.alert(data.msg,{ icon:1,title:'提示'},function(index){
                                            layer.closeAll();
                                            table.reload('currentTableId');

                                        });
                                    }else{
                                        layer.alert(data.msg,{ icon:2,title:'提示'},function(index){ layer.close(index);});
                                    }
                                },

                            });
                            layer.close(index);
                        });
                }

            }
            else if (obj.event === 'add_item') {   // 监听添加操作
                add_edit_type = "create"
                {#$(" #passwordId").val("");#}
                {#$("input[type='email']").val("")#}
                {#$('#myFormId')[0].reset();#}

                {#$('.class').val()#}
                //设置input 不可编辑有三种写法
                $("#rule_name_Id").attr("disabled", false);
                {#$("#ctyun_ninternalipdetailOpenFormId").attr("onfocus", "this.blur()");#}
                {#$("#ctyun_ninternalipdetailOpenFormId").attr("readonly", "true");#}
                //设置input属性
                $("#rule_name_Id").attr("style", "");
                {#var content = miniPage.getHrefContent('/templates/ruleroam/table/add.html');#}
                var openWH = miniPage.getOpenWidthHeight();

                var index = layer.open({
                    title: '编辑规则',
                    type: 1,
                    shade: 0,
                    maxmin:false,
                    shadeClose: true,
                    area: [openWH[0] + 'px', openWH[1] + 'px'],
                    offset: [openWH[2] + 'px', openWH[3] + 'px'],
                    content: $("#add_item_OpenFormId"),

                });
                $(window).on("resize", function () {
                    layer.full(index); });


                //触发reset按钮
                document.getElementById("myFormId").reset();

            }

        });





        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        //行事件
        table.on('tool(currentTableFilter)', function (obj) {
            if (obj.event === 'edit_item') {
                add_edit_type = "edit"


                $("#rule_name_Id").val(obj.data.rule_name);
                $("#rule_CVE_Id").val(obj.data.rule_CVE);
                $("#rule_CNVD_Id").val(obj.data.rule_CNVD);
                $("#rule_CNNVD_Id").val(obj.data.rule_CNNVD);
                $("#rule_description_Id").val(obj.data.rule_description);
                {#$("select[name=department]").val(obj.data.user_department);#}

                //设置input 不可编辑有三种写法
                {#$("#usernameId").attr("disabled", "disabled");#}
                {#$("#usernameId").attr("onfocus", "this.blur()");#}
                $("#rule_name_Id").attr("readonly", "true");
                //设置input属性
                $("#rule_name_Id").attr("style", "background-color: #e4e4e4; color:#000000;");

                {#var content = miniPage.getHrefContent('system/table/add.html');#}
                var openWH = miniPage.getOpenWidthHeight();

                var index = layer.open({
                    title: '编辑规则',
                    type: 1,
                    shade: 0,
                    maxmin:false,
                    shadeClose: true,
                    area: [openWH[0] + 'px', openWH[1] + 'px'],
                    offset: [openWH[2] + 'px', openWH[3] + 'px'],
                    content: $("#add_item_OpenFormId"),
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                form.render(); //更新全部

                return false;
            }
            else if (obj.event === 'resetpass') {
                layer.confirm('规则名: ' + obj.data.username
                    ,{
                        icon:3
                        , title:'确认重置?'
                    }
                    , function (index) {
                        $.ajax({
                            url: '/ruleroam/userpassreset/',
                            type: 'post',
                            dataType: 'json',
                            data: obj.data,
                            success:function(data){
                                if(data.status === "success"){
                                    layer.alert(data.msg,{title:"密码重置成功", time: 0, icon:1},function(index){
                                        layer.closeAll();
                                        table.reload('currentTableId');
                                    });
                                }else{
                                    layer.msg(data.msg,{ icon:2},function(index){ layer.close(index);});
                                }
                            },

                        });
                        layer.close(index);
                    });

            }
            else if (obj.event === 'delete_item') {
                layer.confirm('规则名: ' + obj.data.rule_name
                    ,{
                        icon:3
                        , title:'确认删除?'
                    }, function (index) {

                    $.ajax({
                        url: '/ruleroam/vulndelete/',
                        type: 'post',
                        dataType: 'json', //预期返回类型
                        data: obj.data,
                        success:function(data){
                            if(data.status === "success"){
                                layer.alert(data.msg,{ icon:1,title:'提示'},function(index){
                                    obj.del();
                                    layer.closeAll();
                                    table.reload('currentTableId');
                                });
                            }else{
                                layer.alert(data.msg,{ icon:2,title:'提示'},function(index){ layer.close(index);});
                            }
                        },

                    });


                    layer.close(index);
                });
            }
        });



        //监听提交
        form.on('submit(saveBtn)', function (data) {
            $.ajax({
                url: '/ruleroam/vulnadd/',
                type: 'post',
                dataType: 'json', //预期返回类型
                data: {"request_type": add_edit_type, "request_data": JSON.stringify(data.field).toString()},
                success:function(data){
                    if(data.status === "success"){
                        layer.alert(data.msg,{ icon:1,title:'提示'},function(index){
                            layer.closeAll();
                            table.reload('currentTableId');
                        });
                    }else{
                        layer.alert(data.msg,{ icon:2,title:'提示'},function(index){ layer.close(index);});
                    }
                },
            });
            return false;
        });


        {#layer.closeAll();#}
        {#window.parent.location.reload(); //刷新父页面#}
        {#table.reload('currentTableId');#}


        {#//表单初始赋值#}
        {#form.val('myFormFilter', {#}
        {#    "departmentName": "运营与监控中心" // "name": "value"#}
        {#    , "systemName": "测试系统"#}
        {#    , "domainName": "www.test.com"#}
        {#    , "SLBIP": "127.0.0.1"#}
        {#    , "SLBPort": "8080"#}
        {#    , "systemType": "APP应用系统"#}
        {#    , "systemStatus": true#}
        {#    , "accessURL": "url" //复选框选中状态#}
        {#    , "developmentCompany": "科东"#}
        {#    , "extranetAccess": true#}
        {#    , "businessPeople": "businessPeople"#}
        {#    , "businessPhone": "businessPhone"#}
        {#    , "DevelopPeople": "DevelopPeople"#}
        {#    , "DevelopPhone": "DevelopPhone"#}
        {#    , "systemDescribe": "systemDescribe"#}
        {#    , "systemUsername": "systemUsername"#}
        {#    , "systemPassword": "systemPassword"})#}
    });
</script>